@page "/addroleform"
@inherits MasterDataAddRoletBase
<div class="card" style="width: 38rem;">
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6">
                <EditForm Model="Role" OnValidSubmit="AddRole" class="mt-3">
                <h2>Role Form</h2>

                <DataAnnotationsValidator />
                <ValidationSummary />

                <div class="form-group">
                    <label for="name">Name:</label>
                    <InputText id="name" class="form-control" @bind-Value="Role.Name" />
                </div>
                    <div class="mt-3">
                    <button type="submit" class="btn btn-primary">Submit</button>
                </div>
                <div class="mb-3" ></div>
            </EditForm>
        </div>
    </div>
</div>
</div>
